
html, body {
  margin: 0;
  padding: 0;
  min-height: 100%;
}

body {
  background: black;
  font-family: Arial, Helvetica, sans-serif;
}

a, a:visited, a:hover, a:active {
  text-decoration: none;
  color: inherit;
}

.wallpaper {
  position: fixed;
  inset: 0;
  z-index: -1;

  background-color: black;

  background-image:
  linear-gradient(to right, rgba(255,255,255,0.06) 1px, transparent 1px),
  linear-gradient(to bottom, rgba(255,255,255,0.06) 1px, transparent 1px);

  background-size:
    120px 120px,
    120px 120px,
    120px 120px,
    120px 120px;
}

.marquee {
  width: 400px;
  height: 64px;
  overflow: hidden;
  position: relative;

  /* Fade edges */
  mask-image: linear-gradient(
    to right,
    transparent 0%,
    black 10%,
    black 90%,
    transparent 100%
  );
  -webkit-mask-image: linear-gradient(
    to right,
    transparent 0%,
    black 10%,
    black 90%,
    transparent 100%
  );
}

.marquee-track {
  display: flex;
  width: max-content;
  gap: 40px;
  animation: scrollLeft 20s linear infinite;
}

.marquee-image {
  width: 64px;
  height: 64px;
  flex-shrink: 0;
}

@keyframes scrollLeft {
  from {
    transform: translateX(0);
  }
  to {
    transform: translateX(-50%);
  }
}

.two-col {
  display: flex;
  flex-direction: row;
  gap: 80;
  width: 85%;
  min-height: 100%;
  padding-top: 5vh;
  padding-bottom: 5vh;
}

@media (max-width: 800px) {
  .two-col {
    flex-direction: column;
    gap: 20;
  }
}
