
html, body {
  margin: 0;
  padding: 0;
  min-height: 100%;
}

body {
  background: black;
  font-family: Arial, Helvetica, sans-serif;
}

a, a:visited, a:hover, a:active {
  text-decoration: none;
  color: inherit;
}

.wallpaper {
  position: fixed;
  inset: 0;
  z-index: -1;

  background-color: black;

  background-image:
  linear-gradient(to right, rgba(255,255,255,0.04) 1px, transparent 1px),
  linear-gradient(to bottom, rgba(255,255,255,0.04) 1px, transparent 1px);/*,*/
  /* radial-gradient(circle at 0 0, rgba(255,255,255,0.08) 1px, transparent 2px); */

  background-size:
    120px 120px,
    120px 120px,
    120px 120px,
    120px 120px;
}
